@import "vars";


@layer components {
  .title{
    @apply text-7xl;
  }
  .subtitle{
    @apply text-3xl;
  }

  .underlineLink{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $dark;
    }
  }
}